.App {
	width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* TodoEditor */
.TodoEditor {
	display: flex;
	gap: 10px;
}

.TodoEditor input {
	padding: 15px;
	flex: 1;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.TodoEditor input:focus {
	outline: none;
	border: 1px solid dodgerblue;
}

.TodoEditor button {
	cursor: pointer;
	width: 80px;
	background-color: dodgerblue;
	color: #eee;
	border: none;
	border-radius: 5px;
}

/* TodoList */
.TodoList > input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

.TodoList input:focus {
	outline: none;
	border-bottom: 1px solid dodgerblue;
}


.TodoItem {
	display: flex;
	gap: 20px;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.TodoItem .content {
	flex: 1;
}

.TodoItem button {
	cursor: pointer;
	border: none;
	padding: 5px;
	border-radius: 5px;
}

